.azul1 {
  color: #006f9d;
}
.azul2 {
  color: #002e50;
}
.amarillo1 {
  color: #d4d700;
}
.blanco {
  color: #fff;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.font12 {
  font-size: 1.2em;
}
.font14 {
  font-size: 1.4em;
}
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  padding-top: 55px;
}
.navbar-default {
  background-color: #006f9d;
  border-color: #002e50;
  margin-bottom: 0;
  text-transform: uppercase;
}
.navbar-default .navbar-brand {
  padding: 7px 15px;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-collapse {
  border-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
  background-color: #002e50;
}
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #002e50;
}
/*MAIN BANNER*/
.main-banner-container {
  position: relative;
}
.main-banner {
  display: block;
  height: 480px;
}
.main-banner .item {
  background: transparent url("../../images/banner_principal_01_chiquito.jpg") no-repeat center top fixed;
  display: block;
  height: 100%;
  width: 100%;
}
.main-banner .item.uno {
  background-color: #808080;
}
.top-content {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.top-content .logo {
  margin-bottom: 30px;
}
.top-content .slogan {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 auto 30px auto;
  width: 260px;
}
.top-content .call-to-action {
  text-align: center;
  margin-bottom: 30px;
}
.top-content .call-to-action a {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 10px;
}
.top-content .arrow-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
.top-content .arrow-container .arrow {
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #00a19c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.4em;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  width: 35px;
}
.top-content .arrow-container .arrow.icon-flecha {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-content .arrow-container .arrow.icon-flecha:before {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 6px;
  transform: rotate(-90deg);
}
.top-content .banner-line {
  background-color: #d4d700;
  display: inline-block;
  height: 80px;
  width: 4px;
}
.first-block {
  margin-bottom: 20px;
}
.main-phrase {
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: 20px;
}
.que-hacemos {
  background: transparent url("../../images/fondo_verde.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 70px;
}
.que-hacemos img {
  display: block;
  height: auto;
  width: 100%;
}
.patrimonio {
  background: transparent url("../../images/livingroom.jpg") no-repeat center -50px;
  background-size: 400px;
  color: #fff;
  margin-bottom: 30px;
}
.patrimonio .phrase {
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -ms-flex-pack: center;
  justify-content: center;
}
.patrimonio .phrase h2 {
  -ms-flex-item-align: center;
  align-self: center;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: 300;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.4em;
  width: 210px;
}
.patrimonio .line {
  width: 100%;
}
.patrimonio .line .block,
.patrimonio .line .number {
  display: inline-block;
  width: 5%;
}
.patrimonio .line .block {
  width: 93%;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 1.1em;
}
.patrimonio .line .number {
  color: #d4d700;
  font-size: 1.2em;
}
.back-blue {
  background-color: #002e50;
}
.back-gray {
  background-color: #ccc;
}
.back-gray-light {
  background-color: #f2f2f2;
}
.back-yellow {
  background-color: #d4d700;
}
.post-venta {
  background: transparent url("../../images/fondo_azul.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 70px;
}
.post-venta img {
  display: block;
  height: auto;
  width: 100%;
}
.en-venta .back-gray-light {
  padding-bottom: 20px;
}
.en-venta p {
  padding-top: 20px;
}
.en-venta img {
  width: 100%;
  height: auto;
  display: block;
}
.nav-tabs {
  border: 0;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li a {
  color: #000;
}
.nav-tabs li.active>a {
  border-radius: 0;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #000;
}
.nav-tabs li.active>a:focus,
.nav-tabs li.active>a:hover {
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #000;
}
.nav>li>a {
  padding: 10px;
}
.ventajas {
  background: #002e50 url("../../images/ventajas.jpg") no-repeat center top;
  background-size: 480px;
  color: #fff;
  margin-top: 30px;
  padding-bottom: 80px;
}
.ventajas h2 {
  font-size: 1.4em;
}
.ventajas .image {
  height: 450px;
}
.ventajas p {
  font-size: 1.1em;
  width: 90%;
  vertical-align: top;
}
.ventajas span.icon-triangulo {
  margin-right: 5px;
  font-size: 0.8em;
}
.line-yellow {
  background-color: #d4d700;
  display: inline-block;
  height: 80px;
  width: 4px;
  display: inline-block;
}
.line-yellow.go-up {
  margin-top: -40px;
  position: relative;
}
.inline-block {
  display: inline-block;
}
.aliados {
  margin-top: 30px;
}
.brand-logo {
  background: transparent url("../../images/sprite_logos.jpg") no-repeat left -27px;
  display: inline-block;
  height: 50px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 245px;
}
.brand-logo.living-concept {
  background-position: -322px -20px;
  width: 123px;
}
.brand-logo.grupo-tunnich {
  background-position: -461px -21px;
  height: 65px;
  width: 123px;
}
.brand-logo.grupo-guia {
  background-position: -650px -14px;
  height: 65px;
  width: 140px;
}
.brand-logo.san-carlos {
  background-position: -797px -35px;
  width: 120px;
}
.brand-logo.i-cc {
  background-position: -153px -147px;
  width: 140px;
}
.brand-logo.tierra-armonia {
  background-position: -294px -147px;
  height: 65px;
  width: 130px;
}
.brand-logo.arbol-verde {
  background-position: -471px -141px;
  height: 65px;
  width: 120px;
}
.brand-logo.anti-corp {
  background-position: -613px -143px;
  height: 65px;
  width: 110px;
}
.contacto {
  background: transparent url("../../images/fondo_verde_contacto.jpg") no-repeat center bottom;
  background-size: 2200px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.contacto .social {
  padding: 0;
  margin: 0;
}
.contacto .social li {
  display: inline-block;
  margin: 0 3px;
}
.contacto .social li a {
  color: #ccc;
  font-size: 2em;
}
.contacto .map {
  background: transparent url("../../images/mapa.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  margin-top: 20px;
}
.contacto form {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}
.contacto form .form-control {
  border-radius: 0;
}
.contacto form textarea {
  resize: none;
}
.contacto form button.btn.btn-primary {
  background: #006f9d;
  border-radius: 0;
  font-size: 1.2em;
  padding: 6px 20px;
}
.icon-logo.blanco {
  font-size: 5em;
}
@media screen and (min-width: 400px) {
  .main-banner .item {
    background-position: center -70px;
    background-size: 480px;
  }
  .patrimonio {
    background: transparent url("../../images/livingroom.jpg") no-repeat center -30px;
    background-size: 480px;
  }
  .patrimonio .phrase {
    height: 390px;
  }
}
@media screen and (min-width: 480px) {
  .main-banner {
    height: 550px;
  }
  .main-banner .item {
    background-position: center -100px;
    background-size: 600px;
  }
  .patrimonio {
    background: transparent url("../../images/livingroom.jpg") no-repeat center -30px;
    background-size: 600px;
  }
  .patrimonio .phrase {
    height: 480px;
  }
  .ventajas {
    background-size: 600px;
  }
  .ventajas .image {
    height: 530px;
  }
  .land-option {
    width: 400px;
    margin: 45px auto;
  }
  .aliados h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px) {
  .main-banner .item {
    background: url("../../images/banner_principal-01.jpg") no-repeat center center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .dropdown-menu {
    background: #002e50;
  }
  .dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body {
    padding-top: 50px;
    font-size: 1.5em;
  }
  .navbar-default {
    border-color: #006f9d;
  }
  .navbar-default .navbar-nav {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    float: right;
  }
  .navbar-default .navbar-nav li {
    font-size: 0.73em;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .main-banner {
    height: 480px;
  }
  .main-banner .item {
    background-position: center center;
  }
  .top-content .slogan {
    font-size: 1.5em;
    width: 260px;
  }
  .main-phrase {
    margin-top: 70px;
  }
  .patrimonio {
    background: none;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .patrimonio .phrase {
    background: transparent url("../../images/livingroom.jpg") no-repeat center center;
    background-size: 500px;
    height: 380px;
  }
  .patrimonio .phrase h2 {
    width: 220px;
  }
  .que-hacemos {
    padding-top: 10px;
  }
  .que-hacemos h2 {
    margin-bottom: 25px;
  }
  .que-hacemos .image {
    background: transparent url("../../images/familia.jpg") no-repeat center center;
    background-size: cover;
    height: 270px;
  }
  .post-venta {
    padding-top: 20px;
    padding-bottom: 110px;
    margin-bottom: 40px;
  }
  .post-venta h2 {
    margin-bottom: 35px;
  }
  .post-venta .image {
    background: transparent url("../../images/post_venta.jpg") no-repeat center center;
    background-size: cover;
    height: 220px;
  }
  .en-venta .back-gray-light {
    padding-bottom: 40px;
  }
  .en-venta p {
    padding-top: 0px;
  }
  .ventajas {
    background: none;
    padding-bottom: 0;
  }
  .ventajas .back-blue-md {
    background-color: #002e50;
    padding-bottom: 15px;
  }
  .ventajas .image {
    background: transparent url("../../images/ventajas.jpg") no-repeat center center;
    background-size: cover;
    height: 345px;
    float: right;
  }
  .aliados h2 {
    font-size: 2em;
  }
  .brand-logo {
    margin: 10px 15px;
  }
  .contacto {
    margin-top: 40px;
  }
  .contacto h2 {
    font-size: 2em;
  }
  .contacto .social li a {
    font-size: 3em;
  }
  .icon-logo.blanco {
    font-size: 6em;
  }
}

/*# sourceMappingURL=app.css.map */
