.azul1 {
  color: #006f9d;
}
.azul2 {
  color: #002e50;
}
.amarillo1 {
  color: #d4d700;
}
.blanco {
  color: #fff;
}
.mayus {
  text-transform: uppercase;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.font12 {
  font-size: 1.2em;
}
.font14 {
  font-size: 1.4em;
}
a {
  cursor: pointer;
}
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  padding-top: 55px;
}
.navbar-default {
  background-color: #006f9d;
  border-color: #002e50;
  margin-bottom: 0;
  text-transform: uppercase;
}
.navbar-default .navbar-brand {
  padding: 7px 15px;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-collapse {
  border-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
  background-color: #002e50;
}
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #002e50;
}
.navbar-default .navbar-nav>.active>a {
  background: transparent;
  color: #002e50;
  transition: color 0.5s ease;
}
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  border-color: #ccc;
  color: #002e50;
  transition: border-color 1s ease;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #002e50;
  transition: color 0.5s ease;
}
/*MAIN BANNER*/
.main-banner-container {
  position: relative;
}
.main-banner-container .container {
  padding-left: 0;
  padding-right: 0;
}
.main-banner {
  display: block;
  height: 480px;
  overflow: hidden;
}
.main-banner .item {
  background: transparent url("../../images/banner_principal_01_chiquito.jpg") no-repeat center top;
  display: inline-block;
  min-height: 480px;
}
.main-banner .item.tres {
  background: transparent url("../../images/banner_principal_03_chiquito.jpg") no-repeat center top;
}
.main-banner .item.dos {
  background: transparent url("../../images/banner_principal_02_chiquito.jpg") no-repeat center top;
}
.main-banner .slick-prev,
.main-banner .slick-next {
  position: absolute;
  top: 45%;
  z-index: 999;
  color: #fff;
  font-size: 3em;
  border: none;
  background: transparent;
}
.main-banner .slick-prev:focus,
.main-banner .slick-next:focus {
  outline: none;
}
.main-banner .slick-next {
  right: 0;
  transform: rotate(180deg);
  top: 42.5%;
}
.main-banner .slick-prev {
  left: 0;
}
.top-content {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.top-content .logo {
  margin-bottom: 30px;
}
.top-content .slogan {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 auto 30px auto;
  width: 260px;
}
.top-content .call-to-action {
  text-align: center;
  margin-bottom: 30px;
}
.top-content .call-to-action a {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 10px;
}
.top-content .arrow-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
.top-content .arrow-container .arrow {
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #00a19c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.4em;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  width: 35px;
}
.top-content .arrow-container .arrow.icon-flecha {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-content .arrow-container .arrow.icon-flecha:before {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 6px;
  margin-left: 1px;
  transform: rotate(-90deg);
}
.top-content .banner-line {
  background-color: #d4d700;
  display: inline-block;
  height: 80px;
  width: 4px;
}
.first-block {
  margin-bottom: 20px;
}
.main-phrase {
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: 20px;
}
.que-hacemos {
  background: transparent url("../../images/fondo_verde.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 70px;
}
.que-hacemos .col-sm-6.image {
  background: transparent url("../../images/familia.jpg") no-repeat center center;
  background-size: cover;
}
.que-hacemos .col-sm-6.image img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 0;
}
.que-hacemos .col-sm-6.text {
  background: rgba(55,62,0,0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.que-hacemos .col-sm-6.text h2 {
  margin-top: 0;
}
.patrimonio {
  background: transparent url("../../images/livingroom.jpg") no-repeat center -50px;
  background-size: 400px;
  color: #fff;
  margin-bottom: 30px;
}
.patrimonio .phrase {
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  -ms-flex-pack: center;
  justify-content: center;
}
.patrimonio .phrase h2 {
  -ms-flex-item-align: center;
  align-self: center;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: 300;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.4em;
  width: 210px;
}
.patrimonio .line {
  width: 100%;
}
.patrimonio .line .block,
.patrimonio .line .number {
  display: inline-block;
  width: 5%;
}
.patrimonio .line .block {
  width: 93%;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 1.1em;
}
.patrimonio .line .number {
  color: #d4d700;
  font-size: 1.2em;
}
.back-blue {
  background-color: #002e50;
}
.back-gray {
  background-color: #ccc;
}
.back-gray-light {
  background-color: #f2f2f2;
}
.back-yellow {
  background-color: #d4d700;
}
.post-venta {
  background: transparent url("../../images/fondo_azul.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 70px;
}
.post-venta .col-sm-6.image {
  background: transparent url("../../images/post_venta.jpg") no-repeat center center;
  background-size: cover;
}
.post-venta .col-sm-6.image img {
  display: block;
  height: auto;
  opacity: 0;
  width: 100%;
}
.post-venta .col-sm-6.text {
  background: rgba(0,15,26,0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.post-venta .col-sm-6.text h2 {
  margin-top: 0;
}
.en-venta .back-gray-light {
  padding-bottom: 20px;
}
.en-venta p {
  padding-top: 20px;
}
.en-venta img {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.en-venta .finished-carousel .item {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}
.en-venta .finished-carousel .slick-prev,
.en-venta .finished-carousel .slick-next {
  border: none;
  font-size: 2em;
  background: transparent;
}
.en-venta .finished-carousel .slick-next {
  top: 45%;
  right: 0;
  transform: rotate(180deg);
  position: absolute;
  display: none !important;
}
.en-venta .finished-carousel .slick-prev {
  top: 45%;
  left: 0;
  color: transparent;
}
.en-venta .finished-carousel .slick-dots {
  text-align: center;
  margin-top: 30px;
}
.en-venta .finished-carousel .slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
.en-venta .finished-carousel .slick-dots li button {
  transition: background 1s ease;
  background: #ccc;
  height: 20px;
  width: 20px;
  color: transparent;
  border: none;
  border-radius: 100%;
}
.en-venta .finished-carousel .slick-dots li button:focus {
  outline: none;
}
.en-venta .finished-carousel .slick-dots li.slick-active button {
  background: #002e50;
  transition: background 1s ease;
}
.nav-tabs {
  border: 0;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li a {
  color: #000;
}
.nav-tabs li.active>a {
  border-radius: 0;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #000;
}
.nav-tabs li.active>a:focus,
.nav-tabs li.active>a:hover {
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #000;
}
.nav>li>a {
  padding: 10px;
}
.ventajas {
  background: #002e50 url("../../images/ventajas.jpg") no-repeat center top;
  background-size: 480px;
  color: #fff;
  margin-top: 30px;
  padding-bottom: 80px;
}
.ventajas h2 {
  font-size: 1.4em;
}
.ventajas .image {
  height: 450px;
}
.ventajas p {
  font-size: 1.1em;
  width: 90%;
  vertical-align: top;
}
.ventajas span.icon-triangulo {
  margin-right: 5px;
  font-size: 0.8em;
}
.line-yellow {
  background-color: #d4d700;
  display: inline-block;
  height: 80px;
  width: 4px;
  display: inline-block;
}
.line-yellow.go-up {
  margin-top: -40px;
  position: relative;
}
.inline-block {
  display: inline-block;
}
.aliados {
  margin-top: 30px;
}
.brand-logo {
  background: transparent url("../../images/sprite_logos.jpg") no-repeat left -27px;
  display: inline-block;
  height: 50px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 245px;
}
.brand-logo.living-concept {
  background-position: -322px -20px;
  width: 123px;
}
.brand-logo.grupo-tunnich {
  background-position: -461px -21px;
  height: 65px;
  width: 123px;
}
.brand-logo.grupo-guia {
  background-position: -650px -14px;
  height: 65px;
  width: 140px;
}
.brand-logo.san-carlos {
  background-position: -797px -35px;
  width: 120px;
}
.brand-logo.i-cc {
  background-position: -153px -147px;
  width: 140px;
}
.brand-logo.tierra-armonia {
  background-position: -294px -147px;
  height: 65px;
  width: 130px;
}
.brand-logo.arbol-verde {
  background-position: -471px -141px;
  height: 65px;
  width: 120px;
}
.brand-logo.anti-corp {
  background-position: -613px -143px;
  height: 65px;
  width: 110px;
}
.contacto {
  background: transparent url("../../images/fondo_verde_contacto.jpg") no-repeat center bottom;
  background-size: 2200px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.contacto .social {
  padding: 0;
  margin: 0;
}
.contacto .social li {
  display: inline-block;
  margin: 0 3px;
}
.contacto .social li a {
  color: #ccc;
  font-size: 2em;
}
.contacto .map {
  background: #808080;
  height: 300px;
  margin-top: 20px;
}
.contacto form {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
  position: relative;
}
.contacto form .form-control {
  border-radius: 0;
}
.contacto form .error .form-control {
  border-color: rgba(255,0,0,0.8);
}
.contacto form textarea {
  resize: none;
}
.contacto form .btn.btn-primary {
  background: #006f9d;
  border-radius: 0;
  font-size: 1.2em;
  padding: 6px 20px;
}
.contacto form .sent_mail_alert {
  background: rgba(0,161,156,0.95);
  color: #fff;
  text-align: center;
  position: absolute;
  top: 89px;
  display: none;
  width: 100%;
  padding: 50px 30px;
  font-size: 1.4em;
}
.icon-logo.blanco {
  font-size: 5em;
}
@media screen and (min-width: 400px) {
  .main-banner .item {
    background-position: center -70px;
    background-size: 580px;
    min-height: 546px;
  }
  .main-banner .item.dos,
  .main-banner .item.tres {
    background-size: 580px;
  }
  .patrimonio {
    background: transparent url("../../images/livingroom.jpg") no-repeat center -30px;
    background-size: 480px;
  }
  .patrimonio .phrase {
    height: 365px;
  }
}
@media screen and (min-width: 480px) {
  .main-banner {
    height: 550px;
  }
  .main-banner .item {
    background-position: center -100px;
    background-size: 600px;
  }
  .patrimonio {
    background: transparent url("../../images/livingroom.jpg") no-repeat center -30px;
    background-size: 600px;
  }
  .patrimonio .phrase {
    height: 480px;
  }
  .ventajas {
    background-size: 600px;
  }
  .ventajas .image {
    height: 530px;
  }
  .land-option {
    width: 400px;
    margin: 45px auto;
  }
  .aliados h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px) {
  .main-banner .item {
    background: url("../../images/banner_principal-01.jpg") no-repeat center center;
    background-size: cover;
  }
  .main-banner .item.dos {
    background: url("../../images/banner_principal-02.jpg") no-repeat center center;
    background-size: cover;
  }
  .main-banner .item.tres {
    background: url("../../images/banner_principal-03.jpg") no-repeat center center;
    background-size: cover;
  }
  .ventajas {
    background-size: 768px;
  }
  .ventajas .image {
    height: 690px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .dropdown-menu {
    background: #002e50;
  }
  .dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .dropdown-menu li a:focus,
  .dropdown-menu li a:hover {
    background: #fff;
    transition: background 0.5s ease;
  }
  body {
    padding-top: 50px;
    font-size: 1.5em;
  }
  header {
    height: auto;
    display: block;
  }
  .navbar-default {
    border-color: #006f9d;
  }
  .navbar-default .navbar-nav {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    float: right;
  }
  .navbar-default .navbar-nav li {
    font-size: 0.7em;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .navbar-default .navbar-nav li a {
    padding: 6px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #002e50;
  }
  .navbar-default .navbar-nav .open a:focus {
    background: #002e50;
  }
  .navbar-brand>img {
    width: 90px;
  }
  .main-banner {
    height: 480px;
  }
  .main-banner .item {
    background-position: center center;
    min-height: 480px;
  }
  .top-content .slogan {
    font-size: 1.5em;
    width: 260px;
  }
  .top-content .arrow-container .arrow.icon-flecha:before {
    margin-left: 2px;
  }
  .first-block {
    margin-bottom: 70px;
  }
  .first-block p {
    font-size: 1.2em;
  }
  .main-phrase {
    margin-top: 80px;
    font-size: 1.6em;
  }
  .patrimonio {
    background: none;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .patrimonio .phrase {
    background: transparent url("../../images/livingroom.jpg") no-repeat center center;
    background-size: 575px;
    height: 449px;
  }
  .patrimonio .phrase h2 {
    width: 220px;
  }
  .que-hacemos {
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .que-hacemos h2 {
    margin-bottom: 25px;
  }
  .que-hacemos .image {
    background: transparent url("../../images/familia.jpg") no-repeat center center;
    background-size: cover;
    height: 323px;
  }
  .que-hacemos .col-sm-6.text {
    text-align: left;
  }
  .post-venta {
    padding-top: 20px;
    padding-bottom: 110px;
    margin-bottom: 60px;
  }
  .post-venta h2 {
    margin-bottom: 35px;
  }
  .post-venta .image {
    background: transparent url("../../images/post_venta.jpg") no-repeat center center;
    background-size: cover;
    height: 248px;
  }
  .post-venta .col-sm-6.text {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 28px;
  }
  .en-venta {
    margin-bottom: 80px;
  }
  .en-venta .back-gray-light {
    padding-bottom: 40px;
  }
  .en-venta p {
    padding-top: 0px;
  }
  .ventajas {
    background: none;
    padding-bottom: 0;
  }
  .ventajas .back-blue-md {
    background-color: #002e50;
    padding-bottom: 15px;
  }
  .ventajas .image {
    background: transparent url("../../images/ventajas.jpg") no-repeat center center;
    background-size: cover;
    height: 469px;
    float: right;
  }
  .aliados h2 {
    font-size: 2em;
  }
  .brand-logo {
    margin: 10px 15px;
  }
  .contacto {
    margin-top: 40px;
  }
  .contacto h2 {
    font-size: 2em;
  }
  .contacto .map {
    height: 400px;
  }
  .contacto .social li a {
    font-size: 3em;
  }
  .icon-logo.blanco {
    font-size: 6em;
  }
  form {
    width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
  .navbar-default .navbar-nav li {
    font-size: 1em;
  }
  .que-hacemos {
    padding-bottom: 125px;
  }
  .que-hacemos .image {
    height: 362px;
  }
  .que-hacemos .col-sm-6.text {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 28px;
  }
  .patrimonio {
    margin-bottom: 100px;
  }
  .patrimonio .phrase {
    height: 404px;
  }
  .post-venta {
    padding-bottom: 130px;
    margin-bottom: 80px;
  }
  .post-venta .col-sm-6.text {
    line-height: 32px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .post-venta .image {
    height: 310px;
  }
  .en-venta {
    margin-bottom: 100px;
  }
  .ventajas .image {
    height: 378px;
  }
  .contacto .map {
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-default .navbar-nav li a {
    padding-left: 12px;
    padding-right: 12px;
  }
  .container {
    width: 1160px;
  }
  .que-hacemos .image {
    height: 375px;
  }
  .que-hacemos p {
    padding-bottom: 23px;
  }
  .patrimonio .phrase {
    height: 358px;
  }
  .post-venta .image {
    height: 338px;
  }
  .post-venta p {
    padding-bottom: 30px;
  }
  .en-venta h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .en-venta .back-gray-light {
    padding-bottom: 0px;
  }
}

/*# sourceMappingURL=app.css.map */
