body {
  background: #fff;
  padding-top: 70px;
}
.navbar-default {
  background-color: #006f9d;
  text-transform: uppercase;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-collapse {
  border-color: rgba(242,242,242,0.5);
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
  background-color: #002e50;
}
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #002e50;
}
