azul1 = #006F9D
azul2 = #002E50
verde1 = #00A19C
gris1 = #F2F2F2
gris2 = #CCCCCC
amarillo1 = #D4D700
blanco = #FFFFFF

.azul1
	color azul1
.azul2
	color azul2
.amarillo1
	color amarillo1
.blanco
	color blanco
.mayus
	text-transform uppercase
h2
	font-size 1.4em
	margin-bottom 20px
.font12
	font-size 1.2em
.font14
	font-size 1.4em
a
	cursor pointer
body
	background blanco
	font-family 'Lato', sans-serif
	padding-top 55px
.navbar-default
	background-color azul1
	border-color azul2
	margin-bottom 0
	text-transform uppercase
	.navbar-brand
		padding 7px 15px
	.navbar-toggle
		border none
		.icon-bar
			background-color blanco
			height 4px
			width 25px
		&:hover
			background-color rgba(gris1, .5)
	.navbar-collapse
		border-color rgba(gris1, .5)
	.navbar-nav>li>a
	.navbar-nav>.active>a
	.navbar-nav>.open>a:hover
	.navbar-nav .open .dropdown-menu>li>a
	.navbar-nav>li>a:hover
		color blanco
	.navbar-nav>.active>a
	.navbar-nav>.open>a
		background-color azul2
	.navbar-nav>.open>a:hover
		background-color azul2
	.navbar-nav>.active>a
		background transparent
		color azul2
		transition color .5s ease
		&:hover
			background transparent
			border-color gris2
			color azul2
			transition border-color 1s ease
	.navbar-nav>li>a:hover
		color azul2
		transition color .5s ease
/*MAIN BANNER*/
.main-banner-container
	position relative
	.container
		padding-left 0
		padding-right 0
.main-banner
	display block
	height 480px
	overflow hidden
	.item
		background transparent url(../../images/banner_principal_01_chiquito.jpg) no-repeat center top
		display inline-block
		min-height 480px
		&.tres
			background transparent url(../../images/banner_principal_03_chiquito.jpg) no-repeat center top
		&.dos
			background transparent url(../../images/banner_principal_02_chiquito.jpg) no-repeat center top
	.slick-prev
	.slick-next
		position absolute
		top 45%
		z-index 999
		color blanco
		font-size 3em
		border none
		background transparent
		&:focus
			outline none
	.slick-next
		right 0
		transform rotate(180deg)
		top 42.5%
	.slick-prev
		left 0
.top-content
	bottom -40px
	position absolute
	text-align center
	width 100%
	.logo
		margin-bottom 30px
	.slogan
		color white
		font-size 1.2em
		font-weight 300
		margin 0 auto 30px auto
		width 260px
	.call-to-action
		text-align center
		margin-bottom 30px
		a
			border 1px solid white
			color blanco
			font-size 1.2em
			padding 5px 10px
	.arrow-container
		display flex
		justify-content center
		margin-bottom 30px
		.arrow
			align-self center
			background-color verde1
			border-radius 50%
			color blanco
			display inline-block
			font-size 1.4em
			height 35px
			text-align center
			vertical-align middle
			width 35px
			&.icon-flecha
				display flex
				justify-content center
				&:before
					align-self center
					margin-top 6px
					margin-left 1px
					transform rotate(-90deg)
	.banner-line
		background-color amarillo1
		display inline-block
		height 80px
		width 4px
.first-block
	margin-bottom 20px
.main-phrase
	font-size 1.4em
	margin-top 40px
	margin-bottom 20px
.que-hacemos
	background transparent url(../../images/fondo_verde.jpg) no-repeat center top
	background-size cover
	color blanco
	font-size 1.1em
	padding-top 30px
	padding-bottom 70px
	img
		display block
		height auto
		width 100%
.patrimonio
	background transparent url(../../images/livingroom.jpg) no-repeat center -50px
	background-size 400px
	color blanco
	margin-bottom 30px
	.phrase
		display flex
		height 270px
		justify-content center
		h2
			align-self center
			display flex
			font-size 1.5em
			font-weight 300
			justify-content center
			line-height 1.4em
			width 210px
	.line
		width 100%
		.block
		.number
			display inline-block
			width 5%
		.block
			width 93%
			padding 5px 10px
			vertical-align middle
			font-size 1.1em
		.number
			color amarillo1
			font-size 1.2em
.back-blue
	background-color azul2
.back-gray
	background-color gris2
.back-gray-light
	background-color gris1
.back-yellow
	background-color amarillo1
.post-venta
	background transparent url(../../images/fondo_azul.jpg) no-repeat center top 
	background-size cover
	color blanco
	font-size 1.1em
	padding-top 30px
	padding-bottom 70px
	img
		display block
		height auto
		width 100%
.en-venta
	.back-gray-light
		padding-bottom 20px
	p
		padding-top 20px
	img
		width 100% !important
		height auto !important
		display block
	.finished-carousel
		.item
			width 100%
			height auto
			float left
			position relative
		.slick-prev
		.slick-next
			border none
			font-size 2em
			background transparent
		.slick-next
			top 45%
			right 0
			transform rotate(180deg)
			position absolute
			display none !important
		.slick-prev
			top 45%
			left 0
			color transparent
		.slick-dots
			text-align center
			margin-top 30px
			li
				display inline-block
				margin 0 10px
				button
					transition background 1s ease
					background gris2
					height 20px
					width 20px
					color transparent
					border none
					border-radius 50%
					&:focus
						outline none
				&.slick-active
					button
						background azul2
						transition background 1s ease
.nav-tabs
	border 0
	li
		margin-bottom 0
		a
			color black
		&.active>a
			border-radius 0
			background-color gris1
			border 1px solid gris1
			color black
			&:focus
			&:hover
				border-color gris1
				background-color gris1
				color black
.nav>li>a
	padding 10px
.ventajas
	background azul2 url(../../images/ventajas.jpg) no-repeat center top
	background-size 480px
	color blanco
	margin-top 30px
	padding-bottom 80px
	h2
		font-size 1.4em
	.image
		height 450px
	p
		font-size 1.1em
		width 90%
		vertical-align top
	span.icon-triangulo
		margin-right 5px
		font-size .8em
.line-yellow
	background-color amarillo1
	display inline-block
	height 80px
	width 4px
	display inline-block
	&.go-up
		margin-top -40px
		position relative
.inline-block
	display inline-block
.aliados
	margin-top 30px
.brand-logo
	background transparent url(../../images/sprite_logos.jpg) no-repeat left -27px
	display inline-block
	height 50px
	margin-bottom 5px
	vertical-align middle
	width 245px
	&.living-concept
		background-position -322px -20px
		width 123px
	&.grupo-tunnich
		background-position -461px -21px
		height 65px
		width 123px
	&.grupo-guia
		background-position -650px -14px
		height 65px
		width 140px
	&.san-carlos
		background-position -797px -35px
		width 120px
	&.i-cc
		background-position -153px -147px
		width 140px
	&.tierra-armonia
		background-position -294px -147px
		height 65px
		width 130px
	&.arbol-verde
		background-position -471px -141px
		height 65px
		width 120px
	&.anti-corp
		background-position -613px -143px
		height 65px
		width 110px
.contacto
	background transparent url(../../images/fondo_verde_contacto.jpg) no-repeat center bottom
	background-size 2200px
	margin-top 20px
	padding-bottom 10px
	.social
		padding 0
		margin 0
		li
			display inline-block
			margin 0 3px
			a
				color gris2
				font-size 2em
	.map
		background gray
		height 300px
		margin-top 20px
	form
		text-align center
		margin-top 100px
		margin-bottom 45px
		position relative
		.form-control
			border-radius 0
		.error .form-control
			border-color rgba(red,.8)
		textarea
			resize none
		.btn.btn-primary
			background azul1
			border-radius 0
			font-size 1.2em
			padding 6px 20px
		.sent_mail_alert
			background rgba(verde1,.95)
			color white
			text-align center
			position absolute
			top 89px
			display none
			width 100%
			padding 50px 30px
			font-size 1.4em
.icon-logo.blanco
	font-size 5em
@media screen and (min-width: 400px)
	.main-banner
		.item
			background-position center -70px
			background-size 580px
			min-height 546px
			&.dos
			&.tres
				background-size 580px
	.patrimonio
		background transparent url(../../images/livingroom.jpg) no-repeat center -30px
		background-size 480px
		.phrase
			height 365px
@media screen and (min-width: 480px)
	.main-banner
		height 550px
		.item
			background-position center -100px
			background-size 600px
	.patrimonio
		background transparent url(../../images/livingroom.jpg) no-repeat center -30px
		background-size 600px
		.phrase
			height 480px
	.ventajas
		background-size 600px
		.image
			height 530px
	.land-option
		width 400px
		margin 45px auto
	.aliados
		h2
			margin-top 30px
			margin-bottom 30px
@media screen and (min-width: 600px)
	.main-banner
		.item
			background url(../../images/banner_principal-01.jpg) no-repeat center center
			background-size cover
			&.dos
				background url(../../images/banner_principal-02.jpg) no-repeat center center
				background-size cover
			&.tres
				background url(../../images/banner_principal-03.jpg) no-repeat center center
				background-size cover
	.ventajas
		background-size 768px
		.image
			height 690px
@media screen and (min-width: 768px)
	.container
		width 738px
	.dropdown-menu
		background azul2
		li
			padding-top 5px
			padding-bottom 5px
			a:focus
			a:hover
				background blanco
				transition background .5s ease
	body
		padding-top 50px
		font-size 1.5em
	header
		height auto
		display block
	.navbar-default
		border-color azul1
		.navbar-nav
			height 50px
			display flex
			float right
			li
				font-size .7em
				align-self center
				a
					padding 6px
			.open
				.dropdown-menu>li>a:hover
					color azul2
				a:focus
					background azul2
	.navbar-brand>img
		width 90px
	.main-banner
		height 480px
		.item
			background-position center center
			min-height 480px
	.top-content
		.slogan
			font-size 1.5em
			width 260px
		.arrow-container .arrow.icon-flecha:before
			margin-left 2px
	.first-block
		margin-bottom 70px
		p
			font-size 1.2em
	.main-phrase
		margin-top 80px
		font-size 1.6em
	.patrimonio
		background none
		margin-top 40px
		margin-bottom 80px
		.phrase
			background transparent url(../../images/livingroom.jpg) no-repeat center center
			background-size 575px
			height 449px
			h2
				width 220px
	.que-hacemos
		padding-top 10px
		padding-bottom 100px
		h2
			margin-bottom 25px
		.image
			background transparent url(../../images/familia.jpg) no-repeat center center
			background-size cover
			height 270px
	.post-venta
		padding-top 20px
		padding-bottom 110px
		margin-bottom 60px
		h2
			margin-bottom 35px
		.image
			background transparent url(../../images/post_venta.jpg) no-repeat center center
			background-size cover
			height 220px
	.en-venta
		margin-bottom 80px
		.back-gray-light
			padding-bottom 40px
		p
			padding-top 0px
	.ventajas
		background none
		padding-bottom 0
		.back-blue-md
			background-color azul2
			padding-bottom 15px
		.image
			background transparent url(../../images/ventajas.jpg) no-repeat center center
			background-size cover
			height 469px
			float right
	.aliados
		h2
			font-size 2em
	.brand-logo
		margin 10px 15px
	.contacto
		margin-top 40px
		h2
			font-size 2em
		.map
			height 400px
		.social
			li
				a
					font-size 3em
	.icon-logo.blanco
		font-size 6em
	form
		width 400px
		margin 0 auto
@media screen and (min-width: 992px)
	.container
		width 960px
	.navbar-default
		.navbar-nav
			li
				font-size 1em
	.que-hacemos
		padding-bottom 125px
	.patrimonio
		margin-bottom 100px
		.phrase
			height 404px
	.post-venta
		padding-bottom 130px
		margin-bottom 80px
	.en-venta
		margin-bottom 100px
	.ventajas
		.image
			height 378px
	.contacto
		.map
			height 500px
@media screen and (min-width: 1200px)
	.navbar-default .navbar-nav li a
		padding-left 12px
		padding-right 12px
	.container
		width 1160px
	.que-hacemos
		p
			padding-bottom 23px
	.patrimonio
		.phrase
			height 358px
	.post-venta
		p
			padding-bottom 30px
	.en-venta
		h3
			margin-top 30px
			margin-bottom 20px
		.back-gray-light
			padding-bottom 70px